.main {
  position: relative;
}
/* .CategoriesComponent_container-categories {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2.5rem;
  gap: 1.5rem;
  padding: 1.5rem;
} */

 .CategoriesComponent_container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  gap: 2rem;
}

.CategoriesComponent_header-categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
  

.CategoriesComponent_container-categories {
    height: 26rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2.5rem;
    gap: 2.5rem
}

.CategoriesComponent_title__noiMO {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.CategoriesComponent_subtitle__zqBgA {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  width: 100%;
  color: black;
}

.wl {
  display: grid;
  /* padding: 3rem; */
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(250px, auto);
}

.one img, .two img, .tres img, .four img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  color: transparent;
}

.one {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: aquamarine;

  position: relative;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}
.two {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(5, 56, 39);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
.tres {
  grid-column: 1;
  grid-row: 3;
  background-color: rgb(255, 127, 238);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
.four {
  grid-column: 2;
  grid-row: 2 / 4;
  background-color: rgb(127, 140, 255);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.one img:hover, .two img:hover, .tres img:hover, .four img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.containerAll {
  padding: 2rem;
  width: 100vw;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.containerTitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.containerTitle h4{
  font-size: 22px;
  color: black;
}