


.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 100%;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    user-select: none;
}

.containera {
    width: 100%;
    display: flex;
    height: 400px;
    flex-direction: column;
    border-top: 1px solid rgb(211, 211, 211);
    

}
.containerb {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(211, 211, 211);
    


}
.container-card-product {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid grey;
}

.container-card-product-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.container-card-product-image img {
    width: 100%;
    height: 100%;
    filter: brightness(110%);
    object-position: center;
  }

.container-card-product-data {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 7rem;
}

.container-card-product-data-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    padding-bottom: 1rem;
}

.container-card-product-data-top h2 {
    font-size: 26px;
}
.container-card-product-data-top h4 {
    font-size: 19px;
}
.container-card-product-data-top button {
   width: 100%;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(44, 44, 44);
   border-style: none;
   cursor: pointer;
}


.container-card-product-data-description { 
    margin-top: 5px; 
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    user-select: none;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.4rem;
    font-size: 14px;
    color: grey;
}
.description-info {
    font-size: 12px; 
    color: black; 
    display: flex;
    font-weight: bold;
    flex-direction: column;
    gap: 5px;
    animation: slideIn 0.5s ease-in-out; /* Añadir animación aquí */
}


@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  

  
.container-select {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: grey;
    font-size: 14px;
}

.container-select-color{ 
    display: flex;
    gap: 8px;
}

.selector {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgb(216, 216, 216);
    color: rgb(161, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selector div {
    border-radius: 50%;
    border: 1px solid rgb(216, 216, 216);
    background-color: pink;
    height: 18px;
    width: 18px;
}

.selector.selected {
    border: 1px solid black; /* Borde para el selector seleccionado */
  }
  
  .selector-rosa div {
    background-color: pink;
  }
  
  .selector-azul div {
    background-color: blue;
  }
  
  .selector-verde div {
    background-color: green;
  }


.container-mount {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: grey;
    font-size: 14px;

}

.container-mount input {    
    width: 5.4rem;
    height: 2.3rem;
    border: 1px solid rgb(196, 196, 196);
    padding: 5px;
}

.container-mount input:focus {    
    outline: none;
}
