.container-contact {
  width: 1000px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 64px; /* padding nav*/
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.aaaaa {
  width: 600px;
  /* border: 1px solid grey; */
  padding: 1rem;
  background-color: #ffffff;
}

.bbbbb {
  width: 400px;
  padding-left: 30px;
}

.total-card {
  position: fixed;
  width: 300px;
  padding: 0.2rem;
}

.aaaaa textarea {
  width: 100%;
  min-height: 100px;
  border: 1px solid grey;
  padding: 1rem;
}

.aaaaa button {
  width: 100%;
  padding: 13px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 10px;
  line-height: 12px;
  background-color: #000;
  color: var(--primary-white);
  border-radius: 5px;
  margin-top: 0.6rem;
}
.aaaaa button:hover {
  opacity: 0.8;
}
.input-form-control {
  height: 46px;
  width: 100%;
  border-color: #41414180;
  padding: 17px 10px 4px 13px;
}
.input-container {
  position: relative;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
}

.input-label {
  position: absolute;
  top: 100%;
  left: 10px;
  transform: translateY(-150%);
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease-in-out;
  pointer-events: none; /* Evita interferencia al hacer clic */
  z-index: 45;
  background-color: var(--primary-white);
  padding: 0 10px;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 12px;
  color: #333;
  transform: translateY(-50%);
}

.input-select {
  height: 46px;
  width: 100%;
  border-color: #41414180;
  padding: 10px 10px 4px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-info {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding-top: 6px;
  padding-bottom: 12px;
}

.label-info span {
  font-weight: normal;
  font-size: 13px;
}

.input-error {
  border: 1px solid #d13b3b;
}

.card {
  width: 270px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.container-img {
  width: 60px;
  height: 60px;
}

.container-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-name {
  width: 110px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  font-size: 13px;
}
.container-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  font-size: 15px;
}

.br,
.br-total {
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.overflow-card {
  max-height: 182px;
  min-height: 80px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border {
  border-bottom: 1px solid #00000033;
}
.overflow-card::-webkit-scrollbar {
  width: 0.45rem;
}

.overflow-card::-webkit-scrollbar-thumb {
  background-color: rgb(223, 223, 223);
  border-radius: 6px;
}

.container-total {
  display: flex;
  padding: 9px;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  border-bottom: 1px solid #00000033;
}

.br-total {
  font-size: 18px;
  font-weight: bold;
}

.danger {
  color: red;
}

.container-danger-msg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-weight: 600;
}

.desplegable {
  width: 520px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  color: black;
  margin: 0 auto;
  border-bottom: 1px solid rgb(190, 190, 190);
  display: none;
  position: relative;
}




.container-shop-top {
  display: flex;
  justify-content: space-between;
}

.container-shop-bot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-shop-bot {   
      display: grid;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      color: #64748b; /* Color similar a text-slate-600 */
      font-size: 0.875rem; /* Equivale a text-sm */
    }
    
    .accordion-open {
      grid-template-rows: 1fr; /* Equivale a grid-rows-[1fr] */
      opacity: 100;
    }
    
    .accordion-closed {
      grid-template-rows: 0fr; /* Equivale a grid-rows-[0fr] */
      opacity: 0;
    }
    .container-shop-bot-modal {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      background-color: rgba(209, 209, 209, 0.5);
      padding: 8px;
    }


@media screen and (max-width: 1000px) {
  .container-contact {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
    min-height: max-content;
  }
  .aaaaa {
    width: 750px;
    border: none;
    margin: 0 auto;
  }

  .bbbbb {
    width: 100%;
    padding-left: 0px;
  }

  .total-card {
    display: grid;
    overflow: hidden;
    width: 750px;
    padding: 0.2rem;
    padding-left: 0.5rem;
    margin: 0 auto;
    position: static;
  }
  .accordion-open {
    grid-template-rows: 1fr; /* Equivale a grid-rows-[1fr] */
    opacity: 100;
  }
  
  .accordion-closed {
    grid-template-rows: 0fr; /* Equivale a grid-rows-[0fr] */
    opacity: 0;
  }

.modal {
  display: grid;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

}
  .br,
  .br-total {
    width: 100%;
  }
  

  .border {
    border-bottom: 1px solid #00000033;
  }
  .overflow-card::-webkit-scrollbar {
    width: 0.45rem;
  }

  .overflow-card::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 6px;
  }

  .card {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .container-img {
    width: 70px;
    height: 70px;
  }

  .container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .container-name {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    font-size: 13px;
  }
  .container-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    font-size: 15px;
  }
  .desplegable {
    display: block;
  }
  .izq {
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 14px;
    text-decoration: underline;
    transform: translatey(-50%);
    
  }
  .der {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translatey(-50%);
    font-weight: bold;

  }
}

@media screen and (max-width: 1000px) {
  .aaaaa {
    width: 520px;
  }

  .bbbbb {
    width: 100%;
    padding-left: 0px;

  }

  .total-card {
    width: 520px;
  }
}

@media screen and (max-width: 520px) {
  .aaaaa {
    width: 100%;
  }

  .total-card, .desplegable {
    width: 100%;
  }
}
