.container-contact {
    width: 100vw;
    height: 100vh;
    padding-top: 64px;
    padding-left: 1rem;
    color: black;
}

.ab {
    width: 500px;
    height: 300px;
    background-color: aqua;
    overflow-x: scroll;

}

.cd {
    width: 1000px;
    height: 100%;
    background-color: rgb(183, 0, 255);

}