.container-all {
    width: 100vw;
    background-color: var(--bk-nav);
    height: 64px;
    font-size: 16px;
    color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
 
    position: fixed;
    z-index: 2;
}
.container-data {
    display: flex;
    gap: 32px;
    place-content: center;
}

.btn-nav {
    cursor: pointer;
    border-bottom: 3px solid transparent; 
    font-weight: 500;
}

.btn-nav:hover {
    border-bottom-color: var(--nav-color);
}


.cor,
.co {
  position: fixed;
  top: 64px;
  left: 0;
  /* min-width: 1px; */
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 8rem;
  padding-right: 8rem; */
}

.cor {
  background-color: var(--bk-nav);
  /* color: grey; */
  width: 100%;
  /* font-size: 14px; */
  color: var(--nav-color);
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; 
  justify-content: center; 
  align-items: center; 
  padding: 3rem;

}
.center { 
  /* width: 600px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}
.container-categorias {
  width: 250px;
  color: rgb(77, 76, 76);
  font-size: 16px;
  /* margin-bottom: 16px;  */
}

.categorias:hover {
  text-decoration: underline;
  cursor: pointer;
}