.container-all {
  width: 100vw;
  height: 64px;
  background-color: var(--bk-nav);
  font-size: 16px;
  color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 52; /*zindex*/
  user-select: none;
}

.hamburger-container {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.btn-nav-logo {
  cursor: pointer;
  font-weight: 500;
}

.container-data {
  display: flex;
  gap: 32px;
  place-content: center;
}
.btn-nav {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

.btn-nav:hover {
  border-bottom-color: var(--nav-color);
}

.container-icon-btn-nav {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ancor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: relative;
}



.render {
  position: absolute;
  height: 10px;
  width: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  display: flex;
  justify-content: center;
  bottom: 39%;
}

.render {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(255 106 26);
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  align-items: center;
  top: 10%;
  right: 0;
  justify-content: center;
}

/*CSS HOVER CATEGORIAS*/
.cor {
  position: fixed;
  top: 64px;
  left: 0;
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bk-nav);
  min-height: 255px;
  width: 100%;
  font-weight: normal;
  color: var(--nav-color);
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.btn-nav:hover .cor {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear;
}

.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container-categorias {
  width: 250px;
  color: rgb(77, 76, 76);
  font-size: 16px;
}

.categorias:hover {
  text-decoration: underline;
  cursor: pointer;
}
 
.modal-view { 
  width: 290px;
  height: 100px;
  position: absolute;
  top: 68px;
  right: 30px;
  border: 1px solid black;
  background-color: white;
  z-index: 15000;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;              
  visibility: hidden;       
  transition: opacity 0.5s ease, visibility 0.5s ease;   
}
.modal-btn-closed {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}

.modal-btn-closed:hover {
  opacity: 0.9;
  cursor: pointer;
}
.modal-view.show {
  opacity: 1;
  /* pointer-events: none;    */
  visibility: visible;
}
.container-primary {
  display: flex;
  padding: 10px 30px 10px 10px;
  gap: 6px;
}

.container-img {
  width: 55px;
  height: 55px;
  overflow: hidden;
  position: relative;
}

.container-data-modal {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.container-data-modal span {
  font-size: 14px;
}

/* .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



/*Tailwind class*/

.transition-visibility {
  transition: visibility 0.5s ease;
}

.transition-visibility {
  transition: visibility 0.5s ease;
}


























@media screen and (max-width: 767px) {
  .container-data {
    display: none;
  }

  .hamburger-container {
    display: block;
  }

  .container-all {
    padding: 0 30px;
  }
}


@media screen and (max-width: 670px) {
  .modal-view { 
    width: calc(100% - 20px); /* Hace que el ancho sea el 100% menos 20px */
    height: 100px;
    position: absolute;
    top: 68px;
    left: 10px; /* Establece un margen de 10px a la izquierda */
    right: 10px; /* Establece un margen de 10px a la derecha */
    border: 1px solid black;
    background-color: white;
    z-index: 15000;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;              
    visibility: hidden;       
    transition: opacity 0.5s ease, visibility 0.5s ease;   
  }
  
.container-img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
}
.container-data-modal {
  width: 210px;

}
.container-data-modal span {
  font-size: 15px;
}
}


