.container-all {
  padding: 10rem;
  width: 100vw;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.container-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container-title h4 {
  font-size: 22px;
  color: rgb(41, 40, 40);
}

.container-layout-images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(220px, auto);
}

.one img,
.two img,
.three img,
.four img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  color: transparent;
}

.one,
.two,
.three,
.four {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  grid-column: 1;
  grid-row: 1 / 3;

  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;

  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 3;

  grid-column: 3;
  grid-row: 1 / 3;
}
.four {
  grid-column: 2;
  grid-row: 2 / 4;

  grid-column: 1 / 3;
  grid-row: 2;
}

.one:hover .container-overlay,
.two:hover .container-overlay,
.three:hover .container-overlay,
.four:hover .container-overlay {
  cursor: pointer;
  visibility: visible;
}


/*CSS CATALOGUE*/
.container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary-white);
  opacity: 1;
  visibility: hidden;
}
.container-overlay-split {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.guantes {
  position: absolute;
  top: 0;
  font-size: 24px;
  left: -200px;
  transition: left 0.5s ease;
}
.vermas {
  position: absolute;
  bottom: 0;
  right: -200px;
  font: 18px;
  transition: right 0.5s ease;
}
.container-overlay:hover .guantes {
  left: 0;
}
.container-overlay:hover .vermas {
  right: 0;
  text-decoration: underline;
}
.container-overlay small {
  font-size: 17px;
}
.container-overlay:hover {
  filter: brightness(110%);
  opacity: 1;
}


@media screen and (max-width: 1018px) { 
  .container-all {
    padding: 1.5rem 3rem;
  }
  .container-layout-images {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(220px, auto);
  }
  .one {

    grid-column: 1;
    grid-row: 1;
  }
  .two {
  
    grid-column: 2;
    grid-row: 1;
  }
  .three {

    grid-column: 1;
    grid-row: 2;
  }
  .four {
    
    grid-column: 2;
    grid-row: 2;
  }
}


@media screen and (max-width: 767px) { 
  .container-all {
    padding: 2rem 3rem;
  }
 
}

@media screen and (max-width: 496px) { 
  .container-all {
    padding: 1.2rem 1.5rem;
  }
  .container-title h4 {
    font-size: 18px;
  }
  
 
}