.overlay-menu-container {
    position: absolute;
    top: 0; 
    right: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    background-color: #000; 
    opacity: 0.5;
    pointer-events: none;
    z-index: 15999; /*zindex*/
}

.container-section-burger-menu { 
    position: absolute;
    top: 0;
    right: -100vw;
    z-index: 16000;  /*zindex*/
    width: 30vw;
    height: 100vh;
    transition: right 0.35s ease-in-out, opacity 0.35s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 5rem);
    background-color: var(--bk-nav);
    border-left: 1px solid (var(--bk-nav));
    color: black;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: scroll; 
}
.active {
    right: 0;
    opacity: 1;
    transition: right 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.wraper {
    width: 100%;
    min-height: 100%;
}

.container-head {
    display: flex; 
    justify-content: center; /* Centrar el carrito de compras */
    align-items: center;
    position: relative;
    border-top: 1px solid rgb(211, 210, 210);
    border-bottom: 1px solid rgb(211, 210, 210);
    width: 100%;
    height: 64px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4px;
    letter-spacing: 1px;
    cursor: pointer;
}

.container-head-cart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-head-x {
    position: absolute;
    right: 10px; 
    font-size: 25px;
}

.Cart-vacio {
    height: 30px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-top: 4px;
}


/*CSS PRODUCTO EN CARRITO*/
.cart-product {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100px;
    width: 100%;
    user-select: none;
    background-color: var(--bk-nav);
    color: var(--primary-black);
    margin-top: 5px;
}

.cart-product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product-info {
    padding: 0.4rem;
    padding-top: 0.8rem;
}
.top {
    display: flex;
    justify-content: space-between;
}
.bot { 
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    font-size: 13px;
}

.form-quality {
    width: 90px;
    padding: 5px;
    border: 1px solid rgb(158, 158, 158);
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-radius: 4px;
}
.form-quality:hover {
    border: 1px solid rgb(109, 109, 109);

}

.title {
    font-size: 13px;
}

.title small { 
    font-size: 11px;
    margin-left: 3px;
}

.delete {
    font-size: 17px;
}

.delete:hover {
    opacity: 0.9;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .cart-product.removing {
    animation: fadeOut 0.4s ease forwards; /* La animación dura 0.8 segundos */
    pointer-events: none; /* Evita la interacción durante la animación */
  }
/*BUTTON CHECKCKOUT*/
.checkout-container { 
    /* margin-top: 0.5rem; */
    width: 100%;
    padding-bottom: 1rem;
    transition: transform 0.4s ease-in-out, ease-out 0.4s ease-in-out;
}

.checkout-container-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem; 
    padding-bottom: 1rem;
}

.checkout-container-btn {
    width: 100%;
    padding: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    line-height: 12px;
    background-color: #000;
    color: var(--primary-white);
    border-radius: 5px;
}
.checkout-container-btn:hover {
    opacity: 0.8;
}
.checkout-container-footer {
    display: flex;
    padding: 13px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(71, 71, 71);
}


.container-shop {
    width: 100%;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 1px solid rgb(211, 211, 211);
}

.container-shop-top {
    display: flex;
    justify-content: space-between;
}

.container-shop-bot {
    display: flex;
    justify-content: center;
    align-items: center;

  

}
.container-shop-bot {   
        display: grid;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        color: #64748b; /* Color similar a text-slate-600 */
        font-size: 0.875rem; /* Equivale a text-sm */
      }
      
      .accordion-open {
        grid-template-rows: 1fr; /* Equivale a grid-rows-[1fr] */
        opacity: 100;
      }
      
      .accordion-closed {
        grid-template-rows: 0fr; /* Equivale a grid-rows-[0fr] */
        opacity: 0;
      }
      .container-shop-bot-modal {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: rgba(209, 209, 209, 0.5);
        padding: 8px;
      }
      .container-icon {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

   

      .container-private {
        display: flex;
        gap: 8px;
        font-size: 12px;
        color: black;
      }


      .container-checked {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container-checked-p {
        background-color: white;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 0, 0);
      }

      .container-checked-c {
        background-color: rgb(0, 0, 0);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        border: 1px solid grey;
      }
 
      .container-free {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #77b17f;
        padding-left: 1rem;
      }

.local {
    font-size: 14px;
    padding-left: 4px;
}
.local:hover { 
    opacity: 0.85;
}
@media screen and (max-width: 767px) { 
    .container-section-burger-menu {
        width: 100%;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}
  